<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>人人淘后台</title>
    <link rel="stylesheet" th:href="@{/plugins/layui/css/layui.css}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--header开始-->
    <div th:include="admin/include/header :: header"/>

    <!--左侧导航栏-->
    <div th:include="admin/include/leftbar :: leftbar"/>

    <!--内容主体-->
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <h1>我是首页首页</h1>
        </div>
    </div>
    <!--内容主体结束-->

    <!--页脚-->
    <div th:include="admin/include/footer :: footer"/>

</div>

<script th:src="@{/plugins/layui/layui.js}"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
</script>
</body>
</html>
