<div th:fragment="leftbar" xmlns:th="http://www.w3.org/1999/xhtml">
    <!--左侧导航栏-->
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="leftbar">

                <li class="layui-nav-item"
                    th:attr="class=${page=='index'?'layui-nav-item layui-this':'layui-nav-item'}"><a
                        th:href="@{/admin/index}">首页</a></li>
                
                <li class="layui-nav-item"
                    th:attr="class=${page=='coupon'?'layui-nav-item layui-this':'layui-nav-item'}"><a
                        th:href="@{/admin/coupon}">优惠卷管理</a>
                </li>
                <li class="layui-nav-item"
                    th:attr="class=${page=='qq'?'layui-nav-item layui-this':'layui-nav-item'}"><a
                        th:href="@{/admin/qq}">QQ机器人</a>
                </li>

                <!--<li class="layui-nav-item layui-nav-itemed">-->
                <!--<a class="" href="javascript:;">商品管理</a>-->
                <!--<dl class="layui-nav-child">-->
                <!--<dd><a href="javascript:;">列表一</a></dd>-->
                <!--<dd><a href="javascript:;">列表二</a></dd>-->
                <!--<dd><a href="javascript:;">列表三</a></dd>-->
                <!--<dd><a href="">超链接</a></dd>-->
                <!--</dl>-->
                <!--</li>-->
                <!--<li class="layui-nav-item">-->
                <!--<a href="javascript:;">解决方案</a>-->
                <!--<dl class="layui-nav-child">-->
                <!--<dd><a href="javascript:;">列表一</a></dd>-->
                <!--<dd><a href="javascript:;">列表二</a></dd>-->
                <!--<dd><a href="">超链接</a></dd>-->
                <!--</dl>-->
                <!--</li>-->
                <!--<li class="layui-nav-item"><a href="">云市场</a></li>-->
                <!--<li class="layui-nav-item"><a href="">发布商品</a></li>-->
            </ul>
        </div>
    </div>
    <!--左侧导航栏结束-->
</div>