<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width"/>
<meta name="viewport" content="initial-scale=1.0,user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link type="text/css" href="css/css.css" rel="stylesheet" />
<title>乐品汇家居在线购触屏版html5手机wap商城购物网站模板下载【http://www.lanrenmb.com/shenghuofuwu/gouwu/】</title>
</head>
<body style="background:#f4f4f4;">
	
        <img src="img/pic5.jpg" width="100%"/>
        <div class="xmain">
        <h2>月之泉欧式多功能婴儿床108</h2>
        <h3>月亮船品牌系列</h3>
        <div class="bt">
            <div class="bt-left">参考价：<strong>￥1288.00</strong></div>
            <div class="bt-right"><a href="index.html"><img src="img/home.png" width="20"/><br/>店铺</a></div>
            <div class="bt-right"><img src="img/sc.png" width="20"/><br/>收藏</div>
            <div style="clear:both;"></div>
        </div>
        <div class="yf">
            <div class="yf-left">送至：山东省青岛 &nbsp;&nbsp;免运费</div>
            <div class="yf-right"><img src="img/jj.png" width="25"/></div>
            <div style="clear:both;"></div>
        </div>
    </div>
    <div class="xmain">
    	<div class="baoz"><strong>售后保障</strong><p>卖家承诺以下服务</p></div>
        <div class="pic1"><img src="img/u2.jpg" width="20"/><br/>七天无理由退货</div>
        <div class="pic1"><img src="img/u1.jpg" width="20"/><br/>消费者保障服务</div>
        <div class="pic2"><img src="img/jj.png" width="25"/></div>
            <div style="clear:both;"></div>
    </div>
    <div class="xmain">
    	<div class="xuanz-fl">
        	<strong>颜色分类</strong>
        	<p>雅典糖糖糖+小护垫+枕头</p>
            <p>雅典糖糖糖+小护垫+枕头</p>
        </div>
        <div class="xuanz-sl">
        	<strong>数量:</strong>
            <h3><input type="button" value="-" class="slsl"><input type="text" value="1" class="slsloo"><input type="button" value="+" class="slsl"></h3>
            <div style="clear:both;"></div>
        </div>
    </div>
    <div class="xmain">
    	<div class="xuanz-cp">
        	<strong>产品参数</strong>
            <p><strong>品牌</strong>月亮船</p>
            <p><strong>颜色分类</strong>雅典糖糖糖+小护垫+枕头</p>
            <p><strong>材质</strong>松木</p>
            <p><strong>功能</strong>带滚轮，游戏床</p>
            <p><strong>童床加个</strong>1000元以上</p>
            <p><strong>尺寸</strong>其他</p>
            <div style="clear:both;"></div>
        </div>
    </div>
    <div class="xmain">
        <div class="yf">
            <div class="yf-leftoo">优惠搭配</div>
            <div class="yf-right"><img src="img/jj.png" width="25"/></div>
            <div style="clear:both;"></div>
        </div>
        <div class="yfimg">
        	<img src="img/pic1.png" width="100"/>
            <p>+</p>
            <img src="img/pic4.png" width="100">
        </div>
        <div style="clear:both;"></div>
    </div>
    <div class="xmain">
    	<div class="xuanz-xq">
        	<strong>产品介绍</strong>
			<img src="img/pic1.png" width="100%">
            <img src="img/pic1.png" width="100%">
            <img src="img/pic1.png" width="100%">
            <img src="img/pic1.png" width="100%">
            <p>月亮船月之泉欧式多功能婴儿床108，可以调节的婴儿床，送护栏，可加长变童床，超大尺寸与大人床合并。</p>
            <div style="clear:both;"></div>
        </div>
    </div>
    <div style="width:100%; height:100px;"></div>
    <div class="doot">
    	<div class="doot-left"><input type="button" value="加入购物车" class="huang"></div>
        <div class="doot-right"><input type="button" value="立即购买" class="hong"></div>
    </div>
    <div style="clear:both;"></div>
</body>
</html>
